
/*top image*/
.qicon {
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:200px;
    border-radius: 50%;
}
body {
    margin: 0;
    margin-top: 50px;
}
/* homepage section*/
#intro,#benefits,#reviews {
    height: 120vh;
    border: 1px solid lawngreen;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
}

#intropara{
  border: 1px solid rgba(30, 151, 36, 0.87);
  border-radius: 8px;
  padding:10px;
  background-color:rgba(255, 251, 251, 0.39);
  
}

.benefitdiv{
  
    border-radius: 8px;
    border: 2px solid rgb(143, 69, 9);
    background-color: rgba(99, 212, 89, 0.178);
    padding: 40px;
   
}
#intro {
    background-image: linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)), url("../images/grass.jpg");
    
}
* {
  box-sizing: border-box;
}
  
#benefits{
  text-align:left;
  background-image: linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)), url("../images/garden.jpeg");

}

#reviewspic{
  padding: 10px;
  width:100%;
}
/*tips. html grid section*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-image:linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)),  
    url("../images/bulb.jpeg");
    padding: 10px;
  }

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

  

  
  