/*menu bar styling*/
header {
    
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 30px;
  background-color: rgba(233, 41, 41, 0.575);
  border: 2px solid red;
  border-radius: 8px;
  color:white;
}

header * {
  display: inline;
  color:white;
}


header li {
  margin-left: 10px;
}

/*top image*/
.qicon {
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:200px;
    border-radius: 50%;
}
body {
    margin: 0;
    margin-top: 50px;
}
/* homepage section*/
#intro,#benefits,#reviews {
    height: 120vh;
    border: 1px solid lawngreen;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
}

#intropara{
  border: 1px solid rgba(30, 151, 36, 0.87);
  border-radius: 8px;
  padding:10px;
  background-color:rgba(255, 251, 251, 0.39);
  
}

.benefitdiv{
  
    border-radius: 8px;
    border: 2px solid rgb(143, 69, 9);
    background-color: rgba(99, 212, 89, 0.178);
    padding: 40px;
   
}
#intro {
    background-image: linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)), url("../images/grass.jpg");
    
}
* {
  box-sizing: border-box;
}
  
#benefits{
  text-align:left;
  background-image: linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)), url("../images/garden.jpeg");

}

#reviewspic{
  padding: 10px;
  width:100%;
}

/*The basics section*/
#usagemain {
  text-align: center;
  
}


#basics{
height: 100vh;
border: 1px solid rgb(182, 155, 245);
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-image:linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)),  url("../images/toy.jpeg");
background-size: cover; 
background-position: center center; 
background-repeat: no-repeat; 
background-attachment: fixed; 
}
#basicpara{
border: 1px solid rgba(45, 115, 180, 0.87);
border-radius: 8px;
padding:10px;
background-color:rgba(255, 251, 251, 0.219);
}
#steps{
border: 1px solid rgb(17, 0, 252);
border-radius: 8px;
background-image:linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)),  
url("../images/bluepink.jpeg");
background-size: cover; 
background-position: center center; 
background-repeat: no-repeat; 
background-attachment: fixed; 
text-align:center;
margin:0 auto;
}

.step{
border: 1px solid rgba(83, 233, 176, 0.658);
border-radius: 8px;
padding:10px;
text-align:center;
width:50%;
margin:0 auto;
}
.usageimg{
  text-align: center;
  width:300px;
}

/*features section*/
#featuresone{
  border: 1px solid rgb(0, 4, 252);
  border-radius: 8px;
  background-image:linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)),  
  url("../images/htreasure.jpg");
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}
#feapara{
  border: 1px solid rgba(30, 151, 36, 0.87);
  border-radius: 8px;
  padding:10px;
  background-color:rgba(255, 251, 251, 0.39);
}

#features_p{
  border-radius: 8px;
  border: 1px solid rgba(45, 115, 180, 0.87);
  padding:10px;
  background-color:rgba(248, 230, 169, 0.658);
  
}


#feamain{
 background-color: lightblue;
 border: 1px solid rgb(33, 170, 67);
 border-radius: 8px;
 text-align: center;
 /*display:flex;
 flex-direction: column;*/

}
.featurepic{
  
  width: 300px;
  height: 500px;

  

}

/*news section*/
#newstop{
  text-align: center;
  border: 1px solid rgb(71, 15, 117);
  border-radius: 8px;
  background-image: 
  url("../images/firework.jpg");
  background-size: cover; 
  background-position: center ; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

}
#newstop h1{
  border: 1px solid rgba(30, 151, 36, 0.87);
  border-radius: 8px;
  padding:10px;
  background-color:rgba(255, 251, 251, 0.39);
 
 
}
#newsmain{
  text-align: center;
}
.events{
  background-color: black;
  color: white;
}

/*tips*/
.grid-container{
  background-image:linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)),  
    url("../images/bulb.jpeg");
  background-size: cover; 
  background-position: center ; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}


/*web features adjustments*/
@media (min-width: 992px) {
  /*menu bar styling*/
    header {
        
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      line-height: 50px;
      background-color: rgba(233, 41, 41, 0.575);
      border: 2px solid red;
      border-radius: 8px;
      color:white;
    }

    header * {
      display: inline;
      color:white;
    }
    header ul {
    margin-left:160px;
    }

    header li {
      margin-left: 50px;
      
      
    }
    /*tips grid section*/
  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-image:linear-gradient(rgba(255, 255, 255, 0.219),rgba(255, 255, 255, 0.507)),  
    url("../images/bulb.jpeg");
    padding: 10px;
  }

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

  

  
}

  